@model IEnumerable<ArticleModel>
@{
    ViewData["Title"] = "List of Articles I've Written";
}

<h1 id="page_title">Articles I've written</h1>

<div class="centered_wrapper">
    <input type="text" class="search" placeholder="Filter by title/tag">

    @foreach (var article in Model)
    {
    <article>
        <p class="date">@article.FormattedPublishedAt()</p>
        <h2><a href="@article.Link" target="_blank">@article.Title</a></h2>
        <div class="tags">
            @foreach (var tag in article.Tags)
            {
            <a href="#">@tag</a>    
            }
        </div>
        <hr>
    </article>
    }
</div>

<!--<div class="pagination">
    <span class="previous_page disabled">Previous</span>
    <span class="current">1</span>
    <a href="#" rel="next">2</a>
    <a href="#" class="next_page">Next</a>
</div>-->