@{
    ViewData["Title"] = "Say Hello!";
}

<h1 id="page_title">Hi there!</h1>

<div id="contact_wrapper">
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <h2 class="message error">@ViewBag.ErrorMessage</h2>
    }
    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <h2 class="message success">@ViewBag.SuccessMessage</h2>
    }
    <form method="POST" asp-action="SendMessage" asp-controller="Contact">
        <label for="Name">Name</label><br>
        <input type="text" name="Name">

        <label for="FromEmail">Email</label><br>
        <input type="text" name="FromEmail">

        <label for="Message">Message</label><br>
        <textarea name="Message"></textarea>

        <input type="submit" value="SEND">
    </form>
</div>